<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IZadanie5" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IZadanie1" />
                <binding name="NetNamedPipeBinding_IZadanie2" />
            </netNamedPipeBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IZadanie6" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/ksr-wcf2-zad1" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IZadanie1" contract="ServiceReference1.IZadanie1"
                name="NetNamedPipeBinding_IZadanie1">
                <identity>
                    <userPrincipalName value="DESKTOP-A0JUJEM\Damian" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/ksr-wcf2-zad2" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IZadanie2" contract="ServiceReference1.IZadanie2"
                name="NetNamedPipeBinding_IZadanie2">
                <identity>
                    <userPrincipalName value="DESKTOP-A0JUJEM\Damian" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:12345/Service1.svc/zad5"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IZadanie5"
                contract="ServiceReference2.IZadanie5" name="BasicHttpBinding_IZadanie5" />
            <endpoint address="http://localhost:12345/Service1.svc/zad6"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IZadanie6"
                contract="ServiceReference2.IZadanie6" name="WSDualHttpBinding_IZadanie6">
                <identity>
                    <userPrincipalName value="DESKTOP-A0JUJEM\Damian" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>